.list__box {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.list {
    max-width: 400px;
    display: flex;
    align-items: center;
}

.list button {
    background-color: inherit;
}

.list__box_contact {
    width: 337px;
    display: flex;
    justify-content: space-between;
}