.container {
    margin: 0 auto;
}

.form {
    display: flex;
    gap: 10px;

}

.form button {
    border: none;
    border-radius: 20px;
    background-color: inherit;
    transition: transform 100ms ease-in-out;
}

.form button:active {
    transform: scale(0.8);
}